<a href="https://colab.research.google.com/github/prayasi-panda/18CSE061_DMDWlab/blob/main/18CSE061_dmdwlab2_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Movie dataset comma separated value
df = "https://raw.githubusercontent.com/prayasi-panda/18CSE061_DMDWlab_assign1/main/tmdb_movies_data.csv"

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv(df)

In [ ]:

data

           id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0      135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1       76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2      262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3      140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4      168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09
...       ...        ...         ...  ...           ...           ...           ...
10861      21  tt0060371    0.080598  ...          1966  0.000000e+00  0.000000e+00
10862   20379  tt0060472    0.065543  ...          1966  0.000000e+00  0.000000e+00
10863   39768  tt0060161    0.065141  ...          1966  0.000000e+00  0.000000e+00
10864   21449  tt0061177    0.064317  ...          1966  0.000000e+00  0.000000e+00
10865   22293  tt0060666    0.035919  ...          1966  1.276423e+05  0.000000e+00

[10866 rows x 21 columns]

In [10]:
#load data
df=pd.read_csv(r"https://raw.githubusercontent.com/prayasi-panda/18CSE061_DMDWlab_assign1/main/tmdb_movies_data.csv")
df.shape #prints the shape of the data

(10866, 21)

In [11]:
df.columns #to print the number of columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [12]:

df.shape[1]

21

In [13]:
df.shape[0]

10866

In [14]:
sum(df.duplicated())

1

In [15]:
df[df.duplicated()]
df.drop_duplicates(inplace=True)

In [16]:
# informations about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10865 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10865 non-null  int64
 1   imdb_id               10855 non-null  object
 2   popularity            10865 non-null  float64
 3   budget                10865 non-null  int64
 4   revenue               10865 non-null  int64
 5   original_title        10865 non-null  object
 6   cast                  10789 non-null  object
 7   homepage              2936 non-null   object
 8   director              10821 non-null  object
 9   tagline               8041 non-null   object
 10  keywords              9372 non-null   object
 11  overview              10861 non-null  object
 12  runtime               10865 non-null  int64
 13  genres                10842 non-null  object
 14  production_companies  9835 non-null   object
 15  release_date          10865 non-null  object
 16  vote_count            10865 non-null  int64
 17  vote_average          10865 non-null  float64
 18  release_year          10865 non-null  int64
 19  budget_adj            10865 non-null  float64
 20  revenue_adj           10865 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.8+ MB

In [17]:
# check for missing values
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7929
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [18]:
# inpecting rows with missing values
df[df.isnull().any(axis='columns')].head()

        id    imdb_id  popularity  ...  release_year   budget_adj   revenue_adj
18  150689  tt1661199    5.556818  ...          2015  87399961.54  4.989630e+08
21  307081  tt1798684    5.337064  ...          2015  27599987.86  8.437300e+07
26  214756  tt2637276    4.564549  ...          2015  62559972.47  1.985944e+08
32  254470  tt2848292    3.877764  ...          2015  26679988.26  2.645056e+08
33  296098  tt3682448    3.648210  ...          2015  36799983.81  1.496016e+08

[5 rows x 21 columns]

In [19]:
df.nunique()

id                      10865
imdb_id                 10855
popularity              10814
budget                    557
revenue                  4702
original_title          10571
cast                    10719
homepage                 2896
director                 5067
tagline                  7997
keywords                 8804
overview                10847
runtime                   247
genres                   2039
production_companies     7445
release_date             5909
vote_count               1289
vote_average               72
release_year               56
budget_adj               2614
revenue_adj              4840
dtype: int64

In [20]:
df.describe

<bound method NDFrame.describe of            id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0      135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1       76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2      262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3      140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4      168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09
...       ...        ...         ...  ...           ...           ...           ...
10861      21  tt0060371    0.080598  ...          1966  0.000000e+00  0.000000e+00
10862   20379  tt0060472    0.065543  ...          1966  0.000000e+00  0.000000e+00
10863   39768  tt0060161    0.065141  ...          1966  0.000000e+00  0.000000e+00
10864   21449  tt0061177    0.064317  ...          1966  0.000000e+00  0.000000e+00
10865   22293  tt0060666    0.035919  ...          1966  1.276423e+05  0.000000e+00

[10865 rows x 21 columns]>

In [21]:
# df dataset columns
print(df.columns)

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [22]:
# columns to drop from the movie dataset , these columns are irrelevant for our data analysis
columns = ['homepage', 'tagline', 'overview', 'keywords']

In [23]:
df.drop(labels=columns,axis=1, inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10865 entries, 0 to 10865
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10865 non-null  int64
 1   imdb_id               10855 non-null  object
 2   popularity            10865 non-null  float64
 3   budget                10865 non-null  int64
 4   revenue               10865 non-null  int64
 5   original_title        10865 non-null  object
 6   cast                  10789 non-null  object
 7   director              10821 non-null  object
 8   runtime               10865 non-null  int64
 9   genres                10842 non-null  object
 10  production_companies  9835 non-null   object
 11  release_date          10865 non-null  object
 12  vote_count            10865 non-null  int64
 13  vote_average          10865 non-null  float64
 14  release_year          10865 non-null  int64
 15  budget_adj            10865 non-null  float64
 16  revenue_adj           10865 non-null  float64
dtypes: float64(4), int64(6), object(7)
memory usage: 1.5+ MB

In [25]:
# check the date format after cleaning
df['release_date'].dtype

dtype('O')

In [26]:
df= (df.drop('genres', axis=1)
    .join(df['genres'].str.split('|', expand=True)
    .stack().reset_index(level=1,drop=True)
    .rename('genres'))
    .loc[:, df.columns])
df.head()

       id    imdb_id  popularity  ...  release_year   budget_adj   revenue_adj
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
1   76341  tt1392190   28.419936  ...          2015  137999939.3  3.481613e+08

[5 rows x 17 columns]

In [27]:
# splitting into rows the production_companie columns
df= (df.drop('production_companies', axis=1)
    .join(df['production_companies'].str.split('|', expand=True)
    .stack().reset_index(level=1,drop=True)
    .rename('production_companies'))
    .loc[:, df.columns])
df.head()

       id    imdb_id  popularity  ...  release_year   budget_adj   revenue_adj
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09

[5 rows x 17 columns]

In [28]:
# inspecting the movies and budget columns
df[df['revenue'] == 0].count()['revenue']

76851

In [29]:
# inspecting the movies and budget columns
df[df['revenue_adj'] == 0].count()['revenue_adj']

76851

In [30]:
# inspecting the movies and budget columns
df[df['budget'] == 0].count()['budget']

69433

In [31]:
# inspecting the movies and budget columns
df[df['budget_adj'] == 0].count()['budget_adj']

69433

In [32]:
# fill the columns revenue & budget with their mean value
cols = ['budget', 'budget_adj', 'revenue', 'revenue_adj']
for item in cols:
        print(item, df[item].mean())
        df[item] = df[item].replace({0:df[item].mean()})

budget 26775356.47371121
budget_adj 30889712.598593716
revenue 70334023.35863845
revenue_adj 84260108.11781298

In [33]:
# check wheather the columns have been successfully filled
df[df['revenue'].notnull()].count()

id                      181294
imdb_id                 181249
popularity              181294
budget                  181294
revenue                 181294
original_title          181294
cast                    181023
director                181104
runtime                 181294
genres                  181270
production_companies    179082
release_date            181294
vote_count              181294
vote_average            181294
release_year            181294
budget_adj              181294
revenue_adj             181294
dtype: int64

In [34]:
# should return false
(df['revenue'] == 0).all()

False

In [35]:
# should return false
(df['revenue_adj'] == 0).all()

False

In [36]:
# should return false
(df['budget'] ==0).all()

False

In [37]:
# should return false
(df['budget_adj'] ==0).all()

False

In [38]:
df.shape

(181294, 17)